# 使用 pnpm
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true

# 提升性能
prefer-offline=true
fetch-retries=3
fetch-retry-factor=10
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
